extends layouts/main-layout.pug
block styles
    link(rel="stylesheet" href="/css/forms.css")
block content
    .form
        form(action='/signup' method='POST')
            input(name='email' type='text' placeholder='Email')
            input(name='password' type='password' placeholder='Password')
            input(name='confirmPassword' type='password' placeholder='Confirm Password')
            button(type='submit') Sign up